In [1]:
import pandas as pd
import numpy as np

## Part - 1 - Preparing the data

In [2]:
!conda install -c anaconda lxml

Solving environment: done

## Package Plan ##

  environment location: /opt/conda/envs/Python36

  added / updated specs:
    - lxml


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    lxml-4.5.0                 |   py36hefd8a0e_0         1.6 MB  anaconda
    ca-certificates-2020.1.1   |                0         132 KB  anaconda
    certifi-2019.11.28         |           py36_0         156 KB  anaconda
    openssl-1.1.1              |       h7b6447c_0         5.0 MB  anaconda
    ------------------------------------------------------------
                                           Total:         6.9 MB

The following packages will be UPDATED:

    ca-certificates: 2019.11.28-hecc5488_0 conda-forge --> 2020.1.1-0           anaconda
    certifi:         2019.11.28-py36_0     conda-forge --> 2019.11.28-py36_0    anaconda
    lxml:            4.3.1-py36hefd8a0e_0              --> 4.5.0-py36hefd8a0e_0 anaconda
    openssl:         1.1.1d-h516909a_0     conda-forge --> 1.1.1-h7b6447c_0     anaconda


Downloading and Extracting Packages
lxml-4.5.0           | 1.6 MB    | ##################################### | 100%
ca-certificates-2020 | 132 KB    | ##################################### | 100%
certifi-2019.11.28   | 156 KB    | ##################################### | 100%
openssl-1.1.1        | 5.0 MB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

In [2]:
#  1. Create a dataframe of the table mentioned in the website
dfs=pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M',header=0)[0]

#2. Process only the Borough's 
df=dfs[dfs.Borough!='Not assigned']
df=df.reset_index(drop=True)
df[0:5]

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M6A        North York  Lawrence Heights
4      M6A        North York    Lawrence Manor

In [3]:
#check the shape of the actual table
df.shape

(210, 3)

In [4]:
#3. Join Neighbourhoods having the same postcode value
df = df.groupby('Postcode').agg({'Borough':'first','Neighbourhood': ', '.join }).reset_index()
df[0:10]

  Postcode      Borough                                    Neighbourhood
0      M1B  Scarborough                                   Rouge, Malvern
1      M1C  Scarborough           Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough                Guildwood, Morningside, West Hill
3      M1G  Scarborough                                           Woburn
4      M1H  Scarborough                                        Cedarbrae
5      M1J  Scarborough                              Scarborough Village
6      M1K  Scarborough      East Birchmount Park, Ionview, Kennedy Park
7      M1L  Scarborough                  Clairlea, Golden Mile, Oakridge
8      M1M  Scarborough  Cliffcrest, Cliffside, Scarborough Village West
9      M1N  Scarborough                      Birch Cliff, Cliffside West

In [5]:
#Check the shape of the table now
df.shape

(103, 3)

In [5]:
#4. Check the Neighbourhoods with 'Not Assigned' values - if exists then copy the name of the Borough value into the Neighbourhood value

df['Neighbourhood'] = np.where((df.Neighbourhood == 'Not Assigned'),df.Borough,df.Neighbourhood)

In [6]:
#5 Display the shape of the dataframe
df.shape
#It indicates that there are no Neighbourhoods with the value

(103, 3)

## Part-2 - Adding Latitude and Longitude values

In [7]:
#Make a dataframe from Geospatial data file
df1=pd.read_csv('http://cocl.us/Geospatial_data')

In [8]:
df1[0:10]

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476
5         M1J  43.744734 -79.239476
6         M1K  43.727929 -79.262029
7         M1L  43.711112 -79.284577
8         M1M  43.716316 -79.239476
9         M1N  43.692657 -79.264848

In [9]:

#Compare and copy the corresponding values in to new columns
for i in df['Postcode']:
    for j in df1['Postal Code']:
        if (i==j):
            df['Latitude']=df1['Latitude']
            df['Longitude']=df1['Longitude']
df[0:10]

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
5,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
6,M1K,Scarborough,"East Birchmount Park, Ionview, Kennedy Park",43.727929,-79.262029
7,M1L,Scarborough,"Clairlea, Golden Mile, Oakridge",43.711112,-79.284577
8,M1M,Scarborough,"Cliffcrest, Cliffside, Scarborough Village West",43.716316,-79.239476
9,M1N,Scarborough,"Birch Cliff, Cliffside West",43.692657,-79.264848

In [10]:
df.shape

(103, 5)